@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body, html {height:100%;}
body {line-height:21px;font:normal 13px "Open Sans", Helvetica, sans-serif;color:#333;}
img {max-width:100%;height:auto;}
a {outline:none !important;transition:0.5s ease;-o-transition:0.5s ease;-webkit-transition:0.5s ease;}
h1, h2, h3, h4, h5, h6 {font-family:'Open Sans';text-transform: uppercase;}

.title {display: block;font-size: 16px;font-weight: bold;line-height: 40px;text-transform: uppercase;margin-bottom:48px;text-align:center;}
.title:before, .title:after {background: rgba(80,55,55,0.15);content: "";display: block;height: 6px;margin: 0 auto;width: 80px;}
.highlight {font-size: 24px;line-height: 1.3;margin-bottom: 1.5em;}
.btn-more {background: #000;color: #fff;font-weight: bold;font-size:14px;padding: 0.8em 1em;text-decoration: none;text-transform: uppercase;border-radius: 5px;}
.btn-more:hover {text-decoration:none;color:#e98300;}
.btn-back {margin-bottom:2em;display:inline-block;}
.subpage-wrap {padding:50px 0;position:relative;}

.title-primary {font-family:'Fjalla One', sans-serif;font-size:48px;margin-bottom: 50px;position: relative;text-align: center;text-shadow: 4px 4px 0 rgba(0,0,0,0.07);text-transform: uppercase;}
.title-primary:before {border: 1px solid #e2dfd7;border-width: 1px 0;content: "";display: block;height: 2px;left: 0;margin-top: -2px;position: absolute;top: 50%;width: 100%;z-index: 1;}
.title-primary span {background: #fff;display: inline-block;padding: 0 18px;position: relative;z-index: 2;}

#social-side-links {position:fixed;top:70px;right:0;padding:0;list-style:none;z-index:99;display:none;}
#social-side-links li a {display:block;}
#social-side-links li a img {display:block;max-width:40px;padding:10px;}
#social-side-links li a:hover img {background:rgba(0, 0, 0, .2);}

#head {background:#fff;position:fixed;z-index:99;width:100%;}
#navi-wrapper {text-transform:uppercase;}
.navbar-brand img {position:relative;transition:0.5s ease;-o-transition:0.5s ease;-webkit-transition:0.5s ease;width:100px;height:106px;}
.navbar-nav {border-top:thin solid #ccc;padding-top:3px;margin-top:3px;}
.other-nav a {font-family:'Fjalla One', sans-serif;color:#0493da!important;font-size:21px;padding-left:6px !important;}
.other-nav a:hover, .other-nav.active a {background:#000;color:#fff !important;text-decoration:none;}
.main-nav a {text-transform:uppercase;color:#989b97 !important;font-weight:bold;font-size:15px;}
.main-nav a:hover {color:#104c6f !important;}
#partners a {background:#e98300;border-color:#e98300;color:#fff !important;-webkit-border-radius: 3px;border-radius: 3px;padding-left:6px;margin-bottom:6px;}
#members a {background:#d55c19;border-color:#d55c19;color:#fff !important;-webkit-border-radius: 6px;border-radius: 3px;padding-left:6px;}
.navbar-light .navbar-toggler {position:absolute;right:0;top:24px;}

#banner-wrap {position:relative;}
#banner-wrap .owl-text-overlay {position: absolute;text-align: center;width: 90%;top:63%;transform: translateY(-50%);left: 0;right: 0;margin: auto;color: #fff;padding-bottom: 20px;font-family: "Open Sans", sans-serif;font-weight:800;font-size:19px;line-height:25px;}
#banner-wrap img {height:100vh;}
.sub-banner-wrap {background-size:cover !important;background:#000;}
.sub-banner-wrap h2 {color:#fff;padding:5em 0 .5em;font-family:'Fjalla One', sans-serif;font-size:48px;text-shadow: 4px 4px 0 rgba(0,0,0,0.07);}
#logos {position:absolute;right:12px;bottom:12px;z-index:2;background:rgba(255,255,255,.5);padding:12px;}
#logos ul {list-style:none;padding:0;margin:0;}
#logos ul li {display:inline-block;}
#logos ul li img {height:auto !important;}

#home-abot-wrap {text-align:center;padding: 50px 0;}

#intro-wrap {background: #f6f5f2;padding: 50px 0;position: relative;text-align:center;}
.welcome-list {text-align:center;margin-bottom:24px;}
.welcome-list img {-webkit-border-radius: 100px;border-radius: 100px;}
.welcome-list a {text-decoration:none;}
.welcome-list h2 {font-family:'Fjalla One', sans-serif;color:#00675a;}
.welcome-list p {color:#333;}

#home-stories-wrap {padding: 50px 0;}
.news-post {text-align:left;margin-bottom:24px;padding:0 9px 29px;background:rgba(0,0,0,.1);border-radius: 6px;border:1px solid rgba(0,0,0,.1);}
.news-post a {margin-left:24px;}
.news-post a:hover {background:#1889cb;text-decoration:none;color:#fff;}
.news-post-date {font-size:19px;font-family:'Fjalla One', sans-serif;}
.news-post-title h3 {margin-top:6px;font-family:'Fjalla One', sans-serif;color:#1889cb;}
.news-post-img img {margin-bottom:12px;border-radius: 6px;}
.news-post-detail {padding:24px 24px 0;height:28.5em;}

#home-projects-wrap {background: #f6f5f2;padding: 50px 0;position: relative;}
.home-project-lists {margin-bottom:24px;}
.project-img {border:5px solid rgba(0,0,0,.2);}
.project-dtls {padding:12px 0 24px;}
.project-titl {color:#1889cb;}
.project-teas {border-top:1px solid rgba(0,0,0,.1);padding-top:12px;margin-top:12px;}

#home-video-wrap {background:url('../images/misc/video-bg.jpg') #fff no-repeat fixed;background-size:cover;padding: 50px 0;position: relative;text-align:center;}
#home-video-wrap iframe {margin-bottom:24px;}

#newsletter-wrap {background: #00bfff;border-radius: 0;padding: 30px 0;position: relative;color:#fff;text-align:center;}
#newsletter-wrap .highlight {margin-bottom: .5em;}

#where-wrap {padding: 50px 0;}

#footer-wrap {padding: 30px 0;position: relative;}
#navi-foot-wrapper {padding-bottom:20px;font-weight:bold;}
#navi-foot-wrapper a {text-transform:capitalize;margin-right:30px;font-size:14px;}
#footer-wrap address {margin-bottom:20px;}
#sml-logo {margin-bottom:10px;}
#social-icn {margin-bottom:20px;}
#social-icn a {margin-right:15px;}
#social-icn i {font-size:25px;}
#facebook i {color:#3e559c;}
#twitter i {color:#2acaff;}
#instagram i {color:#306992;}
#youtube i {color:#ce280d;}
#google-plus i {color:#d84b21;}
#rss i {color:#f98e04;}

#news-page {padding: 12em 0 50px;position: relative;}
.news-items {margin:24px 0;border-top:1px dotted #ccc;}
.news-items ul {list-style:none;padding:0;}
.news-item {border-bottom:1px dotted #ccc;padding:12px 6px;}
.news-item:hover {background:#ccc;}
.news-headline {font-weight: 600;letter-spacing: 0.04em;line-height: 1.15;margin: 0;word-wrap: break-word;font-size: 46px;}

.list-right {border: 1px solid #e2dfd7;background:#f6f5f2;margin-bottom:12px;}
.list-right ul li:nth-child(1) {font-weight:bold;font-size:19px;}
.list-right ul {list-style:none;padding:12px;}
.list-right ul li {padding:8px 0;border-bottom:1px dotted #ccc;}
.list-right ul li a {display:block;}
#archive {border:none;background:none;}

.gallery, .gallery li {list-style:none;padding:0;margin-bottom:24px;}
.gallery li {position:relative;margin-bottom:12px;padding:19px;}
.gall-img {margin-bottom:17px;position:relative;background:#000;}
.gall-img img {opacity:.5;}
.gall-img i {position:absolute;color:#fff;left:43%;top:40%;}
.gall-title h6 {font: 600 18px/22px "Cabin", sans-serif;text-transform: uppercase;color: #3a3a3a;}
.gall-date {color:#999;margin-top:18px;}
.gall-date i {padding-right: 9px;margin-right:9px;border-right:1px solid #ccc;}

#phil-locs {padding-top:10em;}
#phil-locs a {display:block;}
/*#phil-locs a:hover[id="verde"] {display:block !important;}*/
#phil-map {position:relative;border:1px solid #ccc;text-align:center;}
#phil-map img {width:550px;}
#phil-map ul {list-style:none;padding:0;text-align:left;}
.loc-list {position:absolute;}
.loc-link {height:27px;width:27px;display:block;}
.loc-link:hover ~ .loc-detail {display:block;}
.loc-detail {display:none;}
.loc-item {font-size:19px;}
.loc-teas {font-size:12px;}

#verde {left:20.9em;top:29.9em;}
#verde .loc-link {margin-left:3em;}
#palawan {left:13.6em;top:42em;}
#palawan .loc-link {margin-left:4em;}
#tanon {left:28.2em;top:43em;}
#tanon .loc-link {margin-left:5em;}
#davao {left:26.5em;top:59.2em;}
#davao .loc-link {margin-left:15em;}
#lanuza {left:28em;top:46.8em;}
#lanuza .loc-link {margin-left:15em;}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	#social-side-links {display:block;}
	#social-icn {display:none;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#head {padding:15px 0;background:url('../images/misc/main-navi-bg.png') #333;}
	.navbar-nav {border-top:none;padding-top:0;margin-top:0;}
	.navbar-brand img {width:139px;height:147px;top:-15px;left:0;position:absolute;}
	.navbar-nav {position:absolute;right:0;}
	.other-nav a {color:#fff!important;}
	.other-nav a:hover, .other-nav.active a {background:#fff;color:#0493da !important;}
	.main-nav a:hover {color:#fff !important;}
	#partners a {margin:0 6px;}
	#banner-wrap img {height:auto;}
	#banner-wrap .owl-text-overlay {top: 50%;font-size:37px;line-height:40px;width: 60%;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}